<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="header-emblem z-depth-1 gold"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="section-divider">
        <hr>
        <div class="chevron">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>
      <h3 class="no-margin apmaredtext">FEARLESS RECORDS IS ON THE SEARCH</h3>
      <h3 class="no-margin apmaredtext">FOR THE MOST DEDICATED FAN</h3>
    </div>
    <div class="col s10 offset-s1">
        <p>One winner + a friend will win a flyaway for two to the Alternative Press Music Awards in Columbus, OH, July 18, 2016 + present the award for “Most Dedicated Fans” (presented by Fearless Records) LIVE on stage! (Grand prize valued at at $8500). Just submit your video on Instagram, details below!</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <div class="header-emblem z-depth-1"><i class="fa fa-instagram" aria-hidden="true"></i></div>
      <div class="section-divider">
        <hr>
        <div class="chevron">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>
      <h3 class="no-margin apmabluetext">SUBMIT YOUR ENTRY ON
      <h3 class="no-margin apmabluetext"><i class="fa fa-instagram"></i> INSTAGRAM</h3>
    </div>
    <div class="col s10 offset-s1">
      <p>Submit a video by posting on Instagram (up to 60 seconds in length) using the hashtag #FEARLESSatAPMAS. Submissions can include any band(s) and in any medium (vlog, song cover, art and more! It’s up to you, be creative!) Submission period ends June 15, 2016. The top 10 most creative submissions will be chosen by Fearless Records and enter into a voting period for all fans to vote for the winner on this page!</p>
    </div>
    <div class="col s12 center-align">
      <a href="http://www.altpress.com/ultimate_apmas_vip_experience_sweepstakes" target="_blank" class="btn-large more-info">
        Read official rules and details here
      </a>
    </div>
  </div>
</div>
