<div class="row header">
  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/stagecompressed.jpg"></div>
    <div class="gradient-overlay"></div>
    <div class="valign center-align">
      <p class="white-text no-margin">FEARLESS RECORDS PRESENTS</p>
      <div class="title-wrap">
        <h5 class="fearless-header no-margin">THE</h5><h4 class="fearless-header no-margin"> #FEARLESSatAPMAS</h4><br><h5 class="fearless-header no-margin">FLYAWAY SWEEPSTAKES</h3>
      </div>
      <p class="white-text no-margin">TO THE</p>
      <img class="apmalogo full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/apmalogo.png">
    </div>
  </div>
</div>
