<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="header-emblem z-depth-1 gold"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class="section-divider">
        <hr>
        <div class="chevron">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>
      <h3 class="no-margin apmaredtext">JOIN THE MAILING LIST</h3>
    </div>
    <div class="col s10 offset-s1 center-align">
      <p>Be the first to receive updates by entering your information below</p>
      <iframe id="hidden_iframe" name="hidden_iframe"></iframe>
      <form id="entry" class="col s12 m8 offset-m2" action='https://docs.google.com/a/trendsettermarketing.net/forms/d/1bV7tXC4Ss4NMoaeoIoCuH6cB2s7FksuqowK-9LjfYxM/formResponse' target="hidden_iframe" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" name="entry.1506449844" type="text" readonly onfocus="this.removeAttribute('readonly');">
            <label for="first_name">Full Name</label>
          </div>
          <div class="error-box"></div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="entry.62939456" type="email" readonly onfocus="this.removeAttribute('readonly');">
            <label for="email">Email Address</label>
          </div>
          <div class="error-box"></div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" value="I Agree To Receive Emails" name="entry.1242001824" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">I agree to receive emails from Fearless Records</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center-align">
            <button class="btn waves-effect waves-light white-text apmared" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
