<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "#FEARLESSatAPMAS" %></title>
<meta name="description" content="FEARLESS RECORDS IS ON THE SEARCH FOR THE MOST DEDICATED FAN" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="#FEARLESSatAPMAS">
<meta itemprop="description" content="FEARLESS RECORDS IS ON THE SEARCH FOR THE MOST DEDICATED FAN">
<meta itemprop="image" content="<%= lorem.image('600x400') %>">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fearlessrecords">
<meta name="twitter:title" content="#FEARLESSatAPMAS">
<meta name="twitter:description" content="FEARLESS RECORDS IS ON THE SEARCH FOR THE MOST DEDICATED FAN">
<meta name="twitter:creator" content="@fearlessrecords">
<meta name="twitter:image" content="<%= lorem.image('600x400') %>">

<!-- Open Graph data -->
<meta property="og:title" content="#FEARLESSatAPMAS" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.fearlessatapmas.com/" />
<meta property="og:image" content="<%= lorem.image('600x400') %>" />
<meta property="og:description" content="FEARLESSRECORDS IS ON THE SEARCH FOR THE MOST DEDICATED FAN" />
<meta property="og:site_name" content="#FEARLESSatAPMAS" />
